html, body {
  background-color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

#header {
  height: 56px;
}
#header .item {
  margin: 0px 5px;
}

.part-a {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url("/images/landing/back-home@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.part-a #text {
  margin-right: 5%;
  font-weight: 600;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-100%);
}
.part-a #astro-1 {
  width: 50%;
  height: 50%;
  background-image: url("/images/landing/astro-1@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.part-a #planet-1 {
  width: 300px;
  height: 300px;
  background-image: url("/images/landing/back-end-planet1@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 400px;
  top: 100px;
}
.part-a #planet-2 {
  width: 100px;
  height: 100px;
  background-image: url("/images/landing/back-pekarya-planet1@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 900px;
  top: 450px;
  padding: 0;
}
.part-a #planet-3 {
  width: 400px;
  height: 400px;
  background-image: url("/images/landing/back-agency-planet1@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: 0;
}